@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> ASP.NET Core Application </h1>
    @* <p>Learn about <a href="https://circleci.com/blog/tag/tutorials">building Web apps with ASP.NET Core</a>.</p> *@

    <p class="page-content"> This application will guide you through the process of Automating the deployment of 
        ASP.NET Core application to Heroku without hassle
    </p>
</div>
